# Clock
set_io clk P7
# Reset
set_io rstN P8

# Onboard LEDs, bottom to top
set_io led[7] J11
set_io led[6] K11
set_io led[5] K12
set_io led[4] K14
set_io led[3] L12
set_io led[2] L14
set_io led[1] M12
set_io led[0] N14

## Alchitry IO

# LEDs, right-to-left
set_io ioLed[0] G14 # BB21, IOR_141_GBIN2
set_io ioLed[1] F14 # BB20, IOR_140_GBIN3
set_io ioLed[2] E12 # BB18, IOR_147
set_io ioLed[3] E14 # BB17, IOR_148
set_io ioLed[4] D14 # BB15, IOR_152
set_io ioLed[5] C14 # BB14, IOR_154
set_io ioLed[6] B14 # BB12, IOR_161
set_io ioLed[7] A12 # BB11, IOT_170

set_io ioLed[8] C10 # BB9, IOT_186
set_io ioLed[9] C9 # BB8, IOT_190
set_io ioLed[10] A11 # BB6, IOT_179
set_io ioLed[11] A10 # BB5, IOT_181
set_io ioLed[12] A7 # BB3, IOT_197_GBIN1
set_io ioLed[13] A6 # BB2, IOT_198_GBIN0
set_io ioLed[14] A4 # AB24, IOT_219
set_io ioLed[15] A3 # AB23, IOT_222

set_io ioLed[16] A2 # AB21, IOT_223
set_io ioLed[17] A1 # AB20, IOT_225
set_io ioLed[18] C3 # AB18, IOL_4_P
set_io ioLed[19] D3 # AB17, IOL_4_N
set_io ioLed[20] B1 # AB15, IOL_2_P
set_io ioLed[21] C1 # AB14, IOL_2_N
set_io ioLed[22] D1 # AB12, IOL_5_P
set_io ioLed[23] E1 # AB11, IOL_5_N

# DIP Switches Right to Left
set_io ioDip[7] C11 # BB40
set_io ioDip[6] C12 # BB39
set_io ioDip[5] D11 # BB37
set_io ioDip[4] D12 # BB36
set_io ioDip[3] E11 # BB34
set_io ioDip[2] F11 # BB33
set_io ioDip[1] F12 # BB31
set_io ioDip[0] G12 # BB30

set_io ioDip[15] C5 # AB28
set_io ioDip[14] A5 # AB27
set_io ioDip[13] C6 # BB49
set_io ioDip[12] C7 # BB48
set_io ioDip[11] D6 # BB46
set_io ioDip[10] D7 # BB45
set_io ioDip[9] D9 # BB43
set_io ioDip[8] D10 # BB42

set_io ioDip[23] G4 # AB40
set_io ioDip[22] H4 # AB39
set_io ioDip[21] F3 # AB37
set_io ioDip[20] F4 # AB36
set_io ioDip[19] E4 # AB34
set_io ioDip[18] D4 # AB33
set_io ioDip[17] C4 # AB31
set_io ioDip[16] D5 # AB30


# Buttons
set_io ioButton[0] G11
set_io ioButton[1] H11
set_io ioButton[2] H12
set_io ioButton[3] J12
set_io ioButton[4] P2


# Eight Segment Displays, right to left
set_io ioSel[3] H3 # AB43
set_io ioSel[2] H1 # AB42
set_io ioSel[1] G1 # AB8
set_io ioSel[0] G3 # AB9

set_io ioSeg[0] J1 # AB5
set_io ioSeg[1] J3 # AB6
set_io ioSeg[2] N1 # AB48
set_io ioSeg[3] K4 # AB46
set_io ioSeg[4] K3 # AB45
set_io ioSeg[5] L1 # AB3
set_io ioSeg[6] M1 # AB2
set_io ioSeg[7] P1 # AB49